#header {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  background-color: #233c61;
  color: #f1f0f5;
  text-align: center;
  margin: 10px;
  font-family: Verdana;
}

#header > h1 {
  font-size: 200%;
}

#menu {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  font-family: Verdana;
  margin: 10px;
  background-color: #969696;
}

#status {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  font-family: Verdana;
  background-color: black;
  margin: 10px;
  color: grey;
}

#content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  /*float: left;*/
  background-color: #ebdace;
  margin: 10px;
  min-height: 200px;
  font-family: Verdana;
}

#menu-list{
  /*background: #f7f7f7;*/
  padding: 8px;
}

#menu-list > li {
  display: inline-block;
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}

#menu-list > li > a{
  color: black;
  text-decoration: none;
  /*padding: 3px 8px;*/
}

#menu-list > li > a:hover{
  color: #666666;
}

#system-info{
  /*background: #black;*/
  /*padding: 8px; */
}

#system-info > li {
  display: inline-block;
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}
